<style >
	body{background: url("<%= asset_path '113.jpg' %>");}
	h1{font-family: bold;color: #db34eb;text-align: center;}
</style>
<body>
	<h1>New Staff Create</h1>
	<%= render 'form', staff: @staff %>
	<div align="center">
		<%if @college.present? && @department.present?%>
			<%= link_to 'Back',college_department_staffs_path(@college, @department),class:"btn btn-warning",style:"color:black;" %>
		<%elsif @department.present?%>
			<%= link_to 'Back',department_staffs_path(@department),class:"btn btn-warning",style:"color:black;" %>
		<%else %>
			<%= link_to 'Back',staffs_path,class:"btn btn-warning",style:"color:black;" %>
		<% end -%>
	</div>
</body>





