<style >
  body{background: url("<%= asset_path 'bc.png' %>");}
  h1{ font-family: bold;font-size: 4.5em;text-align: center;}
  div{text-align: center;}
  th{text-align: center;}
</style>
<h1>Lab Deatails</h1>
<div>
  <%if @college.present? && @department.present?%>
    <%= link_to 'Add New Lab Deatails', new_college_department_lab_specility_path(@college, @department),class: "btn btn-success",style:"color:black;" %>
    <%= link_to 'back', college_department_path(@college,@department),class: "btn btn-warning",style:"color:black;" %>

  <%else current_user.user_type == User::DEPARTMENT %>
    <%= link_to 'Add New Lab Deatails', new_lab_specility_path,class: "btn btn-info",style:"color:black;" %>
    <%= link_to 'Back', department_path(@department),class:"btn btn-default",style:"color:black;"  %> 
  <%end%>
</div><br>
<table class="table table-striped table-bordered ">
  <thead>
    <tr class="table-success">
      <th>S.No</th>
      <th>Department</th>
      <th>Lab name</th>
      <th>Lab incharge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lab_specilities.each_with_index do |lab_specility,i| %>
      <tr class="table-warning">
        <td><%= i+1 %></td>
        <td><%= lab_specility.department.department_name %></td>
        <td><%= lab_specility.lab_name %></td>
        <td><%= lab_specility.lab_incharge %></td>
        <%if @college.present? && @department.present?%>
          <td><%= link_to 'View The Deatails', college_department_lab_specility_path(@college,@department,lab_specility),class: "btn btn-info",style:"color:black;" %>   
              <%= link_to 'Edit', edit_college_department_lab_specility_path(@college,@department,lab_specility),class: "btn btn-primary",style:"color:black;" %>   
              <%= link_to 'Delete', college_department_lab_specility_path(@college,@department,lab_specility),class: "btn btn-danger",style:"color:black;", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'View The Deatails', lab_specility,class: "btn btn-info",style:"color:black;" %>
              <%= link_to 'Edit', edit_lab_specility_path(lab_specility) ,class: "btn btn-primary",style:"color:black;"%>
              <%= link_to 'Delete', lab_specility,class: "btn btn-danger",style:"color:black;", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
