<style >
	body{background: url("<%= asset_path 'img5.jpg' %>");}
	h1{font-family: bold;color: #db34eb;text-align: center;}
	div{text-align: center;}
</style>
<body>
	<h1>Editing Department</h1>
	<div>
		<%= render 'form', department: @department %>
		<%if @college.present? %>
			<%= link_to 'Show', college_department_path,class:"btn btn-success",style:"color:black;" %> |
			<%= link_to 'Back', college_departments_path,class:"btn btn-warning",style:"color:black;" %>
		<%else%>
			<%= link_to 'Show', department,class:"btn btn-success",style:"color:black;" %> |
			<%= link_to 'Back', @department ,class:"btn btn-warning",style:"color:black;" %>
		<% end -%>
	</div>
	
</body>