<style >
	body{background: url("<%= asset_path 'img5.jpg' %>");}
	h1{font-family: bold;color: #db34eb;text-align: center;}
	div{text-align: center;}
</style>
<body>
	<h1>Editing Cource Deatails</h1>
	<div>
		<%= render 'form', cource: @cource %>
		<%if @college.present? && @department.present?%>
			<%= link_to 'Show', college_department_cource_path(@college,@department,@cource),class:"btn btn-success",style:"color:black;" %> |
			<%= link_to 'Back',college_department_cources_path(@college,@department,@cource),class:"btn btn-warning",style:"color:black;" %>
		<%elsif @department.present?%>
			<%= link_to 'Show', department_cource_path(@department,@cource),class:"btn btn-success",style:"color:black;" %> |
			<%= link_to 'Back',department_cources_path(@department,@cource),class:"btn btn-warning",style:"color:black;" %>
		<%else%>
			<%= link_to 'Show',cource_path(cource),class:"btn btn-success",style:"color:black;" %> |
			<%= link_to 'Back', cource_path(cource) ,class:"btn btn-warning",style:"color:black;" %>
		<% end -%>
	</div>
	
</body>
