 <style >
  body{background: url("<%= asset_path '5.jpg' %>");}
  strong{color: #91c29c;font-family: bild;font-size: 1em;text-align: center;}
  p{color: blue;font-size: 1em;}
  h1{color: red;font-family: bold;}
</style>
<div align="center">
  <h1>Cource Deatails</h1>

	<p>
	  <strong>College:</strong>
	  <%= @cource.college.college_name %>
	</p>

	<p>
	  <strong>Department:</strong>
	  <%= @cource.department.department_name %>
	</p>

	<p>
	  <strong>Cource:</strong>
	  <%= @cource.cource %>
	</p>
</div>
<div align="center">
  <%if @college.present? && @department.present?%>
  	<%= link_to 'edit',edit_college_department_cource_path(@cource),class: "btn btn-success",style:"color:black;font-family:bold;" %>
    <%= link_to 'Back', college_department_cources_path,class: "btn btn-warning",style:"color:black;font-family:bold;" %>
  <%else%>
    <%= link_to 'edit',edit_student_path,class: "btn btn-success",style:"color:black;font-family:bold;" %>
    <%= link_to'back', colleges_path,class: "btn btn-warning",style:"color:black;font-family:bold;" %>
  <% end -%>
</div><br>
