<style >
  body{background: url("<%= asset_path 'bc.png' %>");}
  h1{ font-family: bold;font-size: 4.5em;text-align: center;}
  div{text-align: center;}
  th{text-align: center;}
</style>
<p id="notice"><%= notice %></p>
<h1>Attendence Deatails</h1>
<div>
  <%if @college.present? && @department.present? && @student.present? %>
    <%= link_to 'Add Attendence', new_college_department_student_attendence_path(@college, @department,@student),class: "btn btn-success",style:"color:black;" %>
    <%= link_to 'back', college_department_student_path(@college,@department,@student),class: "btn btn-warning",style:"color:black;" %>
  <%elsif @department.present? && @student.present? %>
    <%= link_to 'Add Attendence', new_department_student_attendence_path( @department,@student),class: "btn btn-success",style:"color:black;" %>
    <%= link_to 'back', department_student_path(@department,@student),class: "btn btn-warning",style:"color:black;" %>
  <%elsif @student.present? %>
    <%= link_to 'Add attendence', new_student_attendence_path( @student),class: "btn btn-success",style:"color:black;" %>
    <%= link_to 'back', student_path(@student),class: "btn btn-warning",style:"color:black;" %>
  <%else%>
    <%= link_to 'back', department_path(@department),class: "btn btn-warning",style:"color:black;" %>
  <%end%>
</div><br>

<table class="table table-striped table-bordered ">
  <thead >
    <tr class="table-success">
      <th>S.No</th>
      <th>Student</th>
      <th>Present</th>
      <th>Exam eligibility</th>
      <th colspan="3">Deatails</th>
    </tr>
  </thead>

  <tbody>
    <% @attendences.each_with_index do |attendence,i| %>
      <tr class="table-warning">
        <td><%= i+1 %></td>
        <td><%= attendence.student.student_name %></td>
        <td><%= attendence.present %></td>
        <td><%= attendence.exam_eligibility %></td>
        <%if @college.present? && @department.present? && @student.present? %>
          <td><%= link_to 'Show', college_department_student_attendence_path(@college,@department,@student,attendence),class: "btn btn-info",style:"color:black;"  %>    
              <%= link_to 'Edit', edit_college_department_student_attendence_path(@college,@department,@student,attendence),class: "btn btn-warning",style:"color:black;"  %>   
              <%= link_to 'Destroy', college_department_student_attendence_path(@college,@department,@student,attendence),class: "btn btn-danger",style:"color:black;" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%elsif @department.present? && @student.present? %>
          <td><%= link_to 'Show', department_student_attendence_path(@department,@student,attendence),class: "btn btn-info",style:"color:black;"  %>    
              <%= link_to 'Edit', edit_department_student_attendence_path(@department,@student,attendence),class: "btn btn-warning",style:"color:black;"  %>   
              <%= link_to 'Destroy', department_student_attendence_path(@department,@student,attendence),class: "btn btn-danger",style:"color:black;" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%elsif @student.present? %>
          <td><%= link_to 'Show', student_attendence_path(@student,attendence),class: "btn btn-info",style:"color:black;"  %>    
              <%= link_to 'Edit', edit_student_attendence_path(@student,attendence),class: "btn btn-warning",style:"color:black;"  %>   
              <%= link_to 'Destroy', student_attendence_path(@student,attendence),class: "btn btn-danger",style:"color:black;" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'Show', attendences_path(attendence),class: "btn btn-info",style:"color:black;" %>
              <%= link_to 'Edit', edit_attendence_path(attendence),class: "btn btn-primary",style:"color:black;" %>
              <%= link_to 'Destroy', attendence_path(attendence),class: "btn btn-danger",style:"color:black;", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
